<div id="script_up" class="text-center">
	<div id="script_up_middle">
		{% if lang=='en' %}
			<h1>SCRIPT WEBSITE WITH PICTURES, PHOTOS AND MOVIES - CUADRO</h1>
			<h3>CREATE YOUR OWN MODERN WEBSITE WITH PICTURES AND MOVIES!</h3>
		{% else %}
			<h1>SKRYPT STRONY Z OBRAZKAMI, ZDJĘCIAMI I FILMAMI - CUADRO</h1>
			<h3>STWÓRZ NOWOCZESNĄ STRONĘ ZE ZDJĘCIAMI I FILMAMI</h3>
		{% endif %}
		{% if not settings.amp %}<img src="upload/scripts/cuadro/banner_top.png" class="hidden-xs" alt="Tło skryptu CUADRO">{% endif %}
	</div>
</div>
<div class="text-center container padding_top padding_bottom">
	{% if lang=='en' %}
		<h2>Join our hundreds of satisfied users!</h2>
		<p>CUADRO allows you to easily create your own website with <strong>pictures, photos and movies</strong>. Cuadro allows upload graphic and MP4 file by users and added videos from <a title="Youtube" href="https://www.youtube.com/" target="_blank" rel="nofollow noopener">Youtube</a>, <a title="Vimeo" href="https://vimeo.com/" target="_blank" rel="nofollow noopener">Vimeo</a> and <a title="DailyMotion" href="http://www.dailymotion.com/" target="_blank" rel="nofollow noopener">DailyMotion</a>.</p>
		<p>CUADRO allows you to create website on any topic. Offers <strong>a lot of configuration options</strong> so you can customize it to individual requirements. The appearance of the Cuadro script is based on the framework <a href="http://materializecss.com" target="_blank" title="Materialize" rel="nofollow">Materialize</a></p>
	{% else %}
		<h2>Dołącz do zadowolonych użytkowników!</h2>
		<p>Skrypt CUADRO umożliwia stworzenie własnej strony z <strong>obrazkami, zdjęciami i filmami</strong> w łatwy i szybki sposób. Umożliwia upload plików graficznych i MP4 przez użytkowników oraz dołączanie filmów z serwisów <a title="Youtube" href="https://www.youtube.com/" target="_blank" rel="nofollow noopener">Youtube</a>, <a title="Vimeo" href="https://vimeo.com/" target="_blank" rel="nofollow noopener">Vimeo</a> oraz <a title="DailyMotion" href="http://www.dailymotion.com/" target="_blank" rel="nofollow noopener">DailyMotion</a>.</p>
		<p>Skrypt umożliwia stworzenie strony o dowolnej tematyce. Dostępnych jest bardzo <strong>wiele opcji konfiguracyjnych</strong>, dzięki czemu można dostosować go do indywidualnych wymagań. Wygląd skryptu Cuadro oparty jest o framework <a href="http://materializecss.com" target="_blank" title="Materialize" rel="nofollow">Materialize</a></p>
	{% endif %}
	<div class="container padding_big_top">
		<div class="row">
			<div class="features col-sm-4">
				{% if not settings.amp %}<img src="upload/images/loading.gif" class="lazyload" data-src="upload/scripts/clock.png" alt="Zegarek">{% endif %}
				{% if lang=='en' %}
					<h4>QUICK INSTALL</h4>
					<p>Thanks to the installation script You can create and set up your website in minutes!</p>	
				{% else %}
					<h4>SZYBKA INSTALACJA</h4>
					<p>Dzięki dołączonemu programowi instalacyjnemu stworzysz i skonfigurujesz swoją stronę w kilka minut!</p>
				{% endif %}
			</div>
			<div class="features col-sm-4">
				{% if not settings.amp %}<img src="upload/images/loading.gif" class="lazyload" data-src="upload/scripts/main-ok.png" alt="OK">{% endif %}
				{% if lang=='en' %}
					<h4>EASY TO USE</h4>
					<p>User pages and in administrative panel are intuitive and very easy even for novice Internet users!</p>
				{% else %}
					<h4>PROSTA OBSŁUGA</h4>
					<p>Obsługa samej strony jak i panelu administracyjnego jest intuicyjna i bardzo prosta!</p>
				{% endif %}
			</div>
			<div class="features col-sm-4">
				{% if not settings.amp %}<img src="upload/images/loading.gif" class="lazyload" data-src="upload/scripts/help.png" alt="Pomoc">{% endif %}
				{% if lang=='en' %}
					<h4>QUICK SUPPORT</h4>
					<p>Quick help with the installation and configuration scripts on your domain and server!</p>
				{% else %}
					<h4>SZYBKA POMOC</h4>
					<p>Szybki kontakt i pomoc w instalacji oraz konfiguracji skryptu na Twojej domenie i serwerze!</p>
				{% endif %}
			</div>
		</div>
	</div>
</div>
<div class="text-center background_dark padding_top padding_big_bottom">
	{% if lang=='en' %}
		<h2 class="color_grey">SCRIPT FUNCTIONS</h2>
	{% else %}
		<h2 class="color_grey">FUNKCJE SKRYPTU</h2>
	{% endif %}
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-6">
				<div class="functions_inside animatable fadeInUp">
					{% if not settings.amp %}<img src="upload/images/loading.gif" class="lazyload" data-src="upload/scripts/cuadro/f1.jpg" alt="Responsywność">{% endif %}
					{% if lang=='en' %}
						<h4>RWD</h4>
						<p><strong>Responsive template</strong> compatible with HTML5 - the page is displayed correctly on the mobile devices (such as mobile phones, tablets)</p>
					{% else %}
						<h4>Responsywność</h4>
						<p><strong>Responsywny szablon</strong> zgodny z HTML5 - strona jest poprawnie wyświetlana także na urządzeniach mobilnych (typu telefony komórkowe, tablety)</p>
					{% endif %}
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="functions_inside animatable fadeInUp">
					{% if not settings.amp %}<img src="upload/images/loading.gif" class="lazyload" data-src="upload/scripts/cuadro/f2.jpg" alt="Social media">{% endif %}
					{% if lang=='en' %}
						<h4>Social Network</h4>
						<p>Integration with social network: Facebook (possibility to login by FB and Google), Twitter, Wykop.pl, Google Plus</p>
					{% else %}
						<h4>Portale społecznościowe</h4>
						<p>Integracja z <strong>portalami społecznościowymi</strong> (panel Facebook, logowanie przez Facebook-a oraz przez konto Google, przyciski &bdquo;Lubię to&rdquo;,  &bdquo;Udostępnij&rdquo;, &bdquo;Tweetnij&rdquo;, "Wykop" i &bdquo;+1&rdquo;)</p>
					{% endif %}
				</div>
			</div>
			<div class="clearfix visible-sm-block"></div>
			<div class="col-md-4 col-sm-6">
				<div class="functions_inside animatable fadeInUp">
					{% if not settings.amp %}<img src="upload/images/loading.gif" class="lazyload" data-src="upload/scripts/cuadro/f3.jpg" alt="Podstrony">{% endif %}
					{% if lang=='en' %}
						<h4>Waiting Room and Top</h4>
						<p>Subpage with files in <strong>Waiting Room</strong>, with best files in votes and with randomly selected</p>
					{% else %}
						<h4>Poczekalnia i Top</h4>
						<p>Podstrony z plikami będącymi jeszcze w <strong>poczekalni</strong>, z najlepszymi wg głosów, z danej kategorii lub tagu oraz losowo wybranymi.</p>
					{% endif %}
				</div>
			</div>
			<div class="clearfix visible-md-block visible-lg-block"></div>
			<div class="col-md-4 col-sm-6">
				<div class="functions_inside animatable fadeInUp">
					{% if not settings.amp %}<img src="upload/images/loading.gif" class="lazyload" data-src="upload/scripts/cuadro/f4.jpg" alt="Reklamy w serwisie">{% endif %}
					{% if lang=='en' %}
						<h4>ADS</h4>
						<p>Many website sections to include <strong>ads</strong> (between files and in aside)</p>
					{% else %}
						<h4>Reklamy</h4>
						<p>Dużo miejsca na <strong>reklamy</strong> (pomiędzy plikami oraz w panelu bocznym)</p>
					{% endif %}
				</div>
			</div>
			<div class="clearfix visible-sm-block"></div>
			<div class="col-md-4 col-sm-6">
				<div class="functions_inside animatable fadeInUp">
					{% if not settings.amp %}<img src="upload/images/loading.gif" class="lazyload" data-src="upload/scripts/cuadro/f5.jpg" alt="Kanał RSS">{% endif %}
					{% if lang=='en' %}
						<h4>RSS Channel</h4>
						<p><strong>RSS channel</strong> displays the most recently added files.</p>
					{% else %}
						<h4>Kanał RSS</h4>
						<p>Wbudowany <strong>kanał RSS</strong> (FEED) wyświetlający ostatnio dodane pliki.</p>
					{% endif %}
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="functions_inside animatable fadeInUp">
					{% if not settings.amp %}<img src="upload/images/loading.gif" class="lazyload" data-src="upload/scripts/cuadro/f6.jpg" alt="Zgodne ze specyfikacją SEO">{% endif %}
					{% if lang=='en' %}
						<h4>SEO</h4>
						<p>You can set up separate keyword and SEO description for each info page - very useful to positioning Your site</p>
					{% else %}
						<h4>SEO</h4>
						<p>Do stron info w serwisie istnieje możliwość ustalenia osobnych słow kluczowych i opisów SEO - bardzo przydatne przy pozycjonowaniu witryny</p>
					{% endif %}
				</div>
			</div>
			<div class="clearfix visible-md-block visible-lg-block visible-sm-block"></div>
			<div class="col-md-4 col-sm-6">
				<div class="functions_inside animatable fadeInUp">
					{% if not settings.amp %}<img src="upload/images/loading.gif" class="lazyload" data-src="upload/scripts/cuadro/f7.jpg" alt="Sejf obrazujący bezpieczny skrypt">{% endif %}
					{% if lang=='en' %}
						<h4>Security</h4>
						<p><strong>Secure login panel</strong>, protection against poisoning session, the possibility of salting passwords in the system</p>
					{% else %}
						<h4>Bezpieczeństwo</h4>
						<p><strong>Bezpieczny panel logowania</strong>, zabezpieczenie przed zatruciem sesji (Session Poisoning), możliwość solenia haseł w systemie (Salt)<p>
					{% endif %}
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="functions_inside animatable fadeInUp">
					{% if not settings.amp %}<img src="upload/images/loading.gif" class="lazyload" data-src="upload/scripts/cuadro/f8.jpg" alt="Modernizacja">{% endif %}
					{% if lang=='en' %}
						<h4>Adjustment</h4>
						<p>The possibility of <strong>adapt site</strong> to your needs by Admin Panel - so you can adjust the script fully for Your own needs!<p>
					{% else %}
						<h4>Dostosowanie</h4>
						<p>Możliwość <strong>dostosowania</strong> serwisu do własnych potrzeb, rozbudowane możliwości konfiguracji strony<p>
					{% endif %}
				</div>
			</div>
			<div class="clearfix visible-sm-block"></div>
			<div class="col-md-4 col-sm-6">
				<div class="functions_inside animatable fadeInUp">
					{% if not settings.amp %}<img src="upload/images/loading.gif" class="lazyload" data-src="upload/scripts/cuadro/f9.jpg" alt="Głosy i komentarze">{% endif %}
					{% if lang=='en' %}
						<h4>Votes and comments</h4>
						<p>Every user can <strong>vote</strong> on pictures, photos and movie and add <strong>comments</strong> by Facebook account</p>
					{% else %}
						<h4>Głosy i komentarze</h4>
						<p>Każdy użytkownik może <strong>głosować</strong> na obrazki, zdjęcia i filmy oraz dodać swój <strong>komentarz</strong> do nich poprzez konto Facebook</p>
					{% endif %}
				</div>
			</div>
			<div class="clearfix visible-md-block visible-lg-block"></div>
			<div class="col-md-4 col-sm-6">
				<div class="functions_inside animatable fadeInUp">
					{% if not settings.amp %}<img src="upload/images/loading.gif" class="lazyload" data-src="upload/scripts/cuadro/f10.jpg" alt="Wykres statystyk">{% endif %}
					{% if lang=='en' %}
						<h4>Statistics</h4>
						<p>View detailed <strong>statistics system</strong> in the Admin Panel with the generator charts. Now you can see detailed information on your users and improvements you can make</p>
					{% else %}
						<h4>Statystyki</h4>
						<p>Podgląd szczegółowych <strong>statystyk systemu</strong> w Panelu Administracyjnym wraz z generatorem wykresów - dzięki niemu dowiesz się czego jeszcze potrzeba Twojej stronie!</p>
					{% endif %}
				</div>
			</div>
			<div class="clearfix visible-sm-block"></div>
			<div class="col-md-4 col-sm-6">
				<div class="functions_inside animatable fadeInUp">
					{% if not settings.amp %}<img src="upload/images/loading.gif" class="lazyload" data-src="upload/scripts/cuadro/f11.jpg" alt="">{% endif %}
					{% if lang=='en' %}
						<h4>Materialize</h4>
						<p>The appearance of the site was based on the popular <strong>framework <a href="http://materializecss.com" target="_blank" title="Materialize" rel="nofollow">Materialize</a></strong>, thanks to which modifications of the appearance are not a problem</p>
					{% else %}
						<h4>Materialize</h4>
						<p>Wygląd strony został oparty o popularny <strong>framework <a href="http://materializecss.com" target="_blank" title="Materialize" rel="nofollow">Materialize</a></strong>, dzięki czemu modyfikacje wyglądu nie stanowią problemu</p>
					{% endif %}
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="functions_inside animatable fadeInUp">
					{% if not settings.amp %}<img src="upload/images/loading.gif" class="lazyload" data-src="upload/scripts/cuadro/f12.jpg" alt="Wysyłka maili przez SMTP">{% endif %}
					{% if lang=='en' %}
						<h4>SMTP and attachments</h4>
						<p>Ability to send an e mail through SMTP and with <strong>attachments</strong> from contact form. Ability to <strong>send mailings</strong> to all registered users</p>
					{% else %}
						<h4>SMTP i załączniki</h4>
						<p>Możliwość wysyłki wiadomości email poprzez konto SMTP oraz wysyłki <strong>załączników</strong> do wiadomości z formularza kontaktowego. Możliwość wysyłki <strong>mailingu</strong> do wszystkich zarejestrowanych użytkowników</p>
					{% endif %}
				</div>
			</div>	
		</div>
	</div>
</div>
<div class="container text-center padding_top padding_big_bottom">
	<h2>{% if lang=='en' %}APPLICATION REQUIREMENTS{% else %}WYMAGANIA APLIKACJI{% endif %}</h2>
	<div class="row padding_big_top">
		<div class="col-sm-4 padding_bottom">
			{% if not settings.amp %}<img src="upload/images/loading.gif" class="lazyload" data-src="upload/scripts/php7.png" alt="Logo PHP7">{% endif %} 
			<h4>PHP</h4>
			<p>{% if lang=='en' %}PHP version min 7.0{% else %}PHP w wersji min. 7.0{% endif %}<p>
		</div>
		<div class="col-sm-4 padding_bottom">
			{% if not settings.amp %}<img src="upload/images/loading.gif" class="lazyload" data-src="upload/scripts/mysql.png" alt="Logo baz danych MySQL">{% endif %}
			<h4>MySQL</h4>
			<p>{% if lang=='en' %}Support MySQL database{% else %}Obługa bazy danych MySQL{% endif %}<p>
		</div>
		<div class="col-sm-4 padding_bottom">
			{% if not settings.amp %}<img src="upload/images/loading.gif" class="lazyload" data-src="upload/scripts/seo.png" alt="Wskaźnik wykresu SEO">{% endif %}
			<h4>Mod Rewrite</h4>
			<p>{% if lang=='en' %}With mod rewrite, you can use friendly URLs{% else %}Dzięki mod rewrite można używać przyjaznych adresów URL{% endif %}<p>
		</div>
	</div>
	{% if lang=='en' %}
		<p>This script is created with the very fast <strong>template engine Twig2</strong>.</p>
	{% else %}
		<p>Skrypt jest stworzony na bardzo szybkim i łatwym w modyfikacjach <strong>systemie szablonów Twig2</strong>.</p>
	{% endif %}
</div>
<div class="text-center color_grey padding_top background_dark padding_big_bottom">
	<h2>{% if lang=='en' %}Admin Panel{% else %}Panel Administratora{% endif %}</h2>
	{% if not settings.amp %}<img src="upload/images/loading.gif" class="lazyload" data-src="upload/scripts/admin.png" alt="Admin Panel created by Kamil Wyremski" id="img_cms">{% endif %}
	<p class="container_text"><strong>
		{% if lang=='en' %}
			To script is included very extensive Admin Panel that allows to manage settings page, view detailed statistics and edit added pictures, photos and movies
		{% else %}
			Do strony jest dołączony bardzo rozbudowany Panel Administracyjny, który umożliwia zarządzanie ustawieniami strony, podgląd szczegółowych statystyk oraz logów serwisu
		{% endif %}
	</strong></p>
</div>
<div class="container text-center padding_top padding_big_bottom">
	<h2>{% if lang=='en' %}LANGUAGE CHANGE MODULE{% else %}MODUŁ ZMIANY JĘZYKA{% endif %}</h2>
	{% if not settings.amp %}<img src="upload/images/loading.gif" class="lazyload" data-src="upload/scripts/language.png" alt="Flagi państw świata" style="max-width:100%; margin: 20px auto 30px; display: block;">{% endif %}
	<div class="container">
		{% if lang=='en' %}
			<p>Script has a built <strong>language change module</strong>. It allows the display pages in the selected language. Immediately after installation you can choose one of the default languages: Polish and English.</p>
			<br>
			<p>In addition, the script allows you to add your own language. You can add an unlimited number of languages! Because of that, you can use our script with any language you can imagine, so you can use any foreign domain. This will allow you to hit more customers around the world!</p>
		{% else %}
			<p>Skrypt posiada wbudowany <strong>moduł zmiany języka</strong>. Umożliwia on wyświetlanie strony w wybranym języku. Od razu po instalacji możesz wybrać jeden z domyślnie wgranych języków: polski i angielski.</p>
			<br>
			<p>Oprócz tego skrypt umożliwia dodanie własnych języków. Możesz dodać ich nieograniczoną ilość! Dzięki temu możesz wykorzystać skrypt nie tylko na stronach polskojęzycznych, ale również tworząc stronę na zagranicznej domenie. Pozwoli Ci to trafić do większej liczby odbiorców na całym świecie!</p>
		{% endif %}
	</div>
</div>
{% if not settings.amp %}
	<div class="text-center padding_top padding_bottom background_grey" id="script_gallery">
		<h2>{% if lang=='en' %}GALLERY{% else %}GALERIA{% endif %}</h2>
		<br>
		<div class="container">
			<div class="col-lg-3 col-md-4 col-xs-6 thumb animatable fadeInUp">
				<a href="upload/scripts/cuadro/screenshots/1.jpg" title="{% if lang=='en' %}The script CUADRO{% else %}CUADRO - obrazki, zdjęcia i filmy{% endif %}" class="thumbnail galeria" data-lightbox="gallery"><img src="upload/images/loading.gif" alt="{% if lang=='en' %}The script CUADRO{% else %}CUADRO - obrazki, zdjęcia i filmy{% endif %}" class="lazyload" data-src="upload/scripts/cuadro/screenshots/1_thumb.jpg"></a>
			</div>
			<div class="col-lg-3 col-md-4 col-xs-6 thumb animatable fadeInUp">
				<a href="upload/scripts/cuadro/screenshots/2.jpg" title="{% if lang=='en' %}The script CUADRO{% else %}CUADRO - obrazki, zdjęcia i filmy{% endif %}" class="thumbnail galeria" data-lightbox="gallery"><img src="upload/images/loading.gif" alt="{% if lang=='en' %}The script CUADRO{% else %}CUADRO - obrazki, zdjęcia i filmy{% endif %}" class="lazyload" data-src="upload/scripts/cuadro/screenshots/2_thumb.jpg"></a>
			</div>
			<div class="col-lg-3 col-md-4 col-xs-6 thumb animatable fadeInUp">
				<a href="upload/scripts/cuadro/screenshots/3.jpg" title="{% if lang=='en' %}The script CUADRO{% else %}CUADRO - obrazki, zdjęcia i filmy{% endif %}" class="thumbnail galeria" data-lightbox="gallery"><img src="upload/images/loading.gif" alt="{% if lang=='en' %}The script CUADRO{% else %}CUADRO - obrazki, zdjęcia i filmy{% endif %}" class="lazyload" data-src="upload/scripts/cuadro/screenshots/3_thumb.jpg"></a>
			</div>
			<div class="col-lg-3 col-md-4 col-xs-6 thumb animatable fadeInUp">
				<a href="upload/scripts/cuadro/screenshots/4.jpg" title="{% if lang=='en' %}The script CUADRO{% else %}CUADRO - obrazki, zdjęcia i filmy{% endif %}" class="thumbnail galeria" data-lightbox="gallery"><img src="upload/images/loading.gif" alt="{% if lang=='en' %}The script CUADRO{% else %}CUADRO - obrazki, zdjęcia i filmy{% endif %}" class="lazyload" data-src="upload/scripts/cuadro/screenshots/4_thumb.jpg"></a>
			</div>
			<div class="col-lg-3 col-md-4 col-xs-6 thumb animatable fadeInUp">
				<a href="upload/scripts/cuadro/screenshots/5.jpg" title="{% if lang=='en' %}The script CUADRO{% else %}CUADRO - obrazki, zdjęcia i filmy{% endif %}" class="thumbnail galeria" data-lightbox="gallery"><img src="upload/images/loading.gif" alt="{% if lang=='en' %}The script CUADRO{% else %}CUADRO - obrazki, zdjęcia i filmy{% endif %}" class="lazyload" data-src="upload/scripts/cuadro/screenshots/5_thumb.jpg"></a>
			</div>
			<div class="col-lg-3 col-md-4 col-xs-6 thumb animatable fadeInUp">
				<a href="upload/scripts/cuadro/screenshots/6.jpg" title="{% if lang=='en' %}The script CUADRO{% else %}CUADRO - obrazki, zdjęcia i filmy{% endif %}" class="thumbnail galeria" data-lightbox="gallery"><img src="upload/images/loading.gif" alt="{% if lang=='en' %}The script CUADRO{% else %}CUADRO - obrazki, zdjęcia i filmy{% endif %}" class="lazyload" data-src="upload/scripts/cuadro/screenshots/6_thumb.jpg"></a>
			</div>
			<div class="col-lg-3 col-md-4 col-xs-6 thumb animatable fadeInUp">
				<a href="upload/scripts/cuadro/screenshots/7.jpg" title="{% if lang=='en' %}The script CUADRO{% else %}CUADRO - obrazki, zdjęcia i filmy{% endif %}" class="thumbnail galeria" data-lightbox="gallery"><img src="upload/images/loading.gif" alt="{% if lang=='en' %}The script CUADRO{% else %}CUADRO - obrazki, zdjęcia i filmy{% endif %}" class="lazyload" data-src="upload/scripts/cuadro/screenshots/7_thumb.jpg"></a>
			</div>
			<div class="col-lg-3 col-md-4 col-xs-6 thumb animatable fadeInUp">
				<a href="upload/scripts/cuadro/screenshots/8.jpg" title="{% if lang=='en' %}The script CUADRO{% else %}CUADRO - obrazki, zdjęcia i filmy{% endif %}" class="thumbnail galeria" data-lightbox="gallery"><img src="upload/images/loading.gif" alt="{% if lang=='en' %}The script CUADRO{% else %}CUADRO - obrazki, zdjęcia i filmy{% endif %}" class="lazyload" data-src="upload/scripts/cuadro/screenshots/8_thumb.jpg"></a>
			</div>
			<div class="col-lg-3 col-md-4 col-xs-6 thumb animatable fadeInUp">
				<a href="upload/scripts/cuadro/screenshots/9.jpg" title="{% if lang=='en' %}The script CUADRO{% else %}CUADRO - obrazki, zdjęcia i filmy{% endif %}" class="thumbnail galeria" data-lightbox="gallery"><img src="upload/images/loading.gif" alt="{% if lang=='en' %}The script CUADRO{% else %}CUADRO - obrazki, zdjęcia i filmy{% endif %}" class="lazyload" data-src="upload/scripts/cuadro/screenshots/9_thumb.jpg"></a>
			</div>
			<div class="col-lg-3 col-md-4 col-xs-6 thumb animatable fadeInUp">
				<a href="upload/scripts/cuadro/screenshots/10.jpg" title="{% if lang=='en' %}The script CUADRO{% else %}CUADRO - obrazki, zdjęcia i filmy{% endif %}" class="thumbnail galeria" data-lightbox="gallery"><img src="upload/images/loading.gif" alt="{% if lang=='en' %}The script CUADRO{% else %}CUADRO - obrazki, zdjęcia i filmy{% endif %}" class="lazyload" data-src="upload/scripts/cuadro/screenshots/10_thumb.jpg"></a>
			</div>
			<div class="col-lg-3 col-md-4 col-xs-6 thumb animatable fadeInUp">
				<a href="upload/scripts/cuadro/screenshots/11.jpg" title="{% if lang=='en' %}The script CUADRO{% else %}CUADRO - obrazki, zdjęcia i filmy{% endif %}" class="thumbnail galeria" data-lightbox="gallery"><img src="upload/images/loading.gif" alt="{% if lang=='en' %}The script CUADRO{% else %}CUADRO - obrazki, zdjęcia i filmy{% endif %}" class="lazyload" data-src="upload/scripts/cuadro/screenshots/11_thumb.jpg"></a>	
			</div>
			<div class="col-lg-3 col-md-4 col-xs-6 thumb animatable fadeInUp">
				<a href="upload/scripts/cuadro/screenshots/12.jpg" title="{% if lang=='en' %}The script CUADRO{% else %}CUADRO - obrazki, zdjęcia i filmy{% endif %}" class="thumbnail galeria" data-lightbox="gallery"><img src="upload/images/loading.gif" alt="{% if lang=='en' %}The script CUADRO{% else %}CUADRO - obrazki, zdjęcia i filmy{% endif %}" class="lazyload" data-src="upload/scripts/cuadro/screenshots/12_thumb.jpg"></a>
			</div>
		</div>
	</div>
{% endif %}
<div class="text-center container padding_top padding_big_bottom">
	{% if lang=='en' %}
		<h2>DEMO VERSION OF SCRIPT</h2>
		<br>
		<p>DEMO version: <strong><a href="http://cuadro.wyremski.pl" target="_blank" title="CUADRO">cuadro.wyremski.pl</a></strong></p>
		<p>DEMO version of Admin Panel: <strong><a href="http://cuadro.wyremski.pl/admin" target="_blank" title="Test version of Cuadro">cuadro.scripts.pl/admin</a></strong><br>login: test password: 1234</p>
		<br>
	{% else %}
		<h2>WERSJA POKAZOWA SKRYPTU</h2>
		<br>
		<h4>DEMO skryptu: <strong><a href="http://cuadro.wyremski.pl" target="_blank" title="CUADRO">cuadro.wyremski.pl</a></strong></h4>
		<p>DEMO Panelu Administracyjnego: <strong><a href="http://cuadro.wyremski.pl/admin" target="_blank" title="Pokazowa strona skryptu Cuadro">cuadro.wyremski.pl/admin</a></strong><br>login: test hasło: 1234</p>
		<br>
		<p>Zobacz także <a href="http://blog.wyremski.pl/instrukcja-instalacji-i-konfiguracji-skryptow/" title="Instrukcja instalacji i konfiguracji skryptów" target="_blank">instrukcję instalacji i konfiguracji skryptów</a></p>
	{% endif %}
</div>
{% if not settings.amp %}
	<div class="text-center script_info_green">
		{% if lang=='en' %}
			<h3>The script have a lot of tools that are not available in other similar scripts!</h3>
		{% else %}
			<h3>Cuadro jest wyposażony w wiele narzędzi, które nie są dostępne w innych tego typu skryptach!</h3>
		{% endif %}
	</div>
{% endif %}
<div class="text-center container padding_top padding_big_bottom container_text_big">
	{% if lang=='en' %}
		<h4>You will not find better script with pictures, photos and movies!<br>We Guarantee!</h4>
		<br>
		<h4>If you are interested, you can buy this script:</h4>
		<h3><a href="https://skrypty.sattel.pl/strona-glowna/34-skrypt-strony-z-obrazkami-i-filmami-cuadro.html" title="Script Cuadro" target="_blank" rel="nofollow">skrypty.sattel.pl/strona-glowna/34-skrypt-strony-z-obrazkami-i-filmami-cuadro.html</a></h3>
	{% else %}
		<h4>Znalazłeś lepszy skrypt dla strony z obrazkami, zdjęciami i filmami?<br>...na pewno nie! Po prostu takiego nie ma...</h4>
		<br>
		<h4>Zainteresowanych zapraszam do zakupu:</h4>
		<h3><a href="https://skrypty.sattel.pl/strona-glowna/34-skrypt-strony-z-obrazkami-i-filmami-cuadro.html" title="CUADRO - obrazki, zdjęcia i filmy" target="_blank" rel="nofollow">skrypty.sattel.pl/strona-glowna/34-skrypt-strony-z-obrazkami-i-filmami-cuadro.html</a></h3>
	{% endif %}
</div>
