<div id="script_up" class="text-center">
	<div id="script_up_middle">
		{% if lang=='en' %}
			<h1>SCRIPT WEBSITE WITH ANNOUNCEMENTS - NOTICE2</h1>
			<h3>CREATE YOUR OWN MODERN WEBSITE WITH ANNOUNCEMENTS!</h3>
		{% else %}
			<h1>SKRYPT STRONY Z OGŁOSZENIAMI - NOTICE2</h1>
			<h3>STWÓRZ WŁASNY NOWOCZESNY PORTAL Z OGŁOSZENIAMI ONLINE!</h3>
		{% endif %}
		{% if not settings.amp %}<img src="upload/scripts/notice2/banner_top.png" class="hidden-xs" alt="Tło skryptu ogłoszeniowego NOTICE2">{% endif %}
	</div>
</div>
<div class="text-center container padding_top padding_bottom">
	{% if lang=='en' %}
		<h2>Join our hundreds of satisfied users!</h2>
		<p>NOTICE2 allows you to easily create your own website with online announcements. This is not an update to NOTICE, it’s an independent project, built according to current web development requirements.</p>
		<p>NOTICE2 allows you to <strong>create a website with announcement pages</strong> for separate categories, with options for local or national users. Offers a lot of configuration options so you can customize it to individual requirements. Includes added and promo ads selling system which supports <strong>automatic payments</strong> via <a href="http://www.dotpay.pl/" title="Dotpay" rel="nofollow" target="_blank">Dotpay.pl</a>, <a href="https://www.przelewy24.pl/" title="Przelewy24" rel="nofollow" target="_blank">Przelewy24.pl</a> and <a href="http://www.paypal.com/" title="Paypal" rel="nofollow" target="_blank">Paypal.com</a>.</p>
	{% else %}
		<h2>Dołącz do zadowolonych użytkowników!</h2>
		<p>NOTICE2 to uniwersalny skrypt umożliwiający stworzenie własnej strony z ogłoszeniami online w łatwy i szybki sposób. Jest on zbudowany zgodnie z obecnymi standardami tworzenia stron www. Notice2 jest bardzo łatwy w obsłudze, zarówno przez administratora, jak i klientów serwisu.</p>
		<p>Skrypt umożliwia stworzenie strony z ogłoszeniami w każdej kategorii lokalnej, ogólnopolskiej lub międzynarodowej. Dostępnych jest bardzo wiele opcji konfiguracyjnych, dzięki czemu można dostosować go do indywidualnych wymagań. Obsługuje <strong>automatyczne płatności</strong> za wystawianie i promowanie ogłoszeń w systemach <a href="http://www.dotpay.pl/" title="Dotpay" rel="nofollow" target="_blank">Dotpay.pl</a>, <a href="https://www.przelewy24.pl/" title="Przelewy24" rel="nofollow" target="_blank">Przelewy24.pl</a>  oraz <a href="http://www.paypal.com/" title="Paypal" rel="nofollow" target="_blank">Paypal.com</a>.</p>
	{% endif %}
	<div class="container padding_big_top">
		<div class="row">
			<div class="features col-sm-4">
				{% if not settings.amp %}<img src="upload/images/loading.gif" class="lazyload" data-src="upload/scripts/clock.png" alt="Zegarek">{% endif %}
				{% if lang=='en' %}
					<h4>QUICK INSTALL</h4>
					<p>Thanks to the installation script You can create and set up your website in minutes!</p>	
				{% else %}
					<h4>SZYBKA INSTALACJA</h4>
					<p>Dzięki dołączonemu programowi instalacyjnemu stworzysz i skonfigurujesz swoją stronę w kilka minut!</p>
				{% endif %}
			</div>
			<div class="features col-sm-4">
				{% if not settings.amp %}<img src="upload/images/loading.gif" class="lazyload" data-src="upload/scripts/main-ok.png" alt="OK">{% endif %}
				{% if lang=='en' %}
					<h4>EASY TO USE</h4>
					<p>User pages and in administrative panel are intuitive and very easy even for novice Internet users!</p>
				{% else %}
					<h4>PROSTA OBSŁUGA</h4>
					<p>Obsługa samej strony jak i panelu administracyjnego jest intuicyjna i bardzo prosta</p>
				{% endif %}
			</div>
			<div class="features col-sm-4">
				{% if not settings.amp %}<img src="upload/images/loading.gif" class="lazyload" data-src="upload/scripts/help.png" alt="Pomoc">{% endif %}
				{% if lang=='en' %}
					<h4>QUICK SUPPORT</h4>
					<p>Quick help with the installation and configuration scripts on your domain and server!</p>
				{% else %}
					<h4>SZYBKA POMOC</h4>
					<p>Szybki kontakt i pomoc w instalacji oraz konfiguracji skryptu na Twojej domenie i serwerze!</p>
				{% endif %}
			</div>
		</div>
	</div>
</div>
<div class="text-center background_dark padding_top padding_big_bottom">
	{% if lang=='en' %}
		<h2 class="color_grey">SCRIPT FUNCTIONS</h2>
	{% else %}
		<h2 class="color_grey">FUNKCJE SKRYPTU</h2>
	{% endif %}
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-6">
				<div class="functions_inside animatable fadeInUp">
					{% if not settings.amp %}<img src="upload/images/loading.gif" class="lazyload" data-src="upload/scripts/notice2/f1.jpg" alt="Dostępne systemy płatności">{% endif %}
					{% if lang=='en' %}
						<h4>Payments</h4>
						<p>Supports <strong>payment systems <a href="http://www.dotpay.pl/" title="Dotpay" rel="nofollow" target="_blank">Dotpay.pl</a></strong>, <strong><a href="https://www.przelewy24.pl/" title="Przelewy24" rel="nofollow" target="_blank">Przelewy24.pl</a></strong> and <strong><a href="http://www.paypal.com/" title="Paypal" rel="nofollow" target="_blank">Paypal.com</a></strong> for added and promoting offers, automatic confirmation of payments</p>
					{% else %}
						<h4>Płatności</h4>
						<p>Obsługa <strong>systemów płatności <a href="http://www.dotpay.pl/" title="Dotpay" rel="nofollow" target="_blank">Dotpay.pl</a></strong>, <strong><a href="https://www.przelewy24.pl/" title="Przelewy24" rel="nofollow" target="_blank">Przelewy24.pl</a></strong> oraz <strong><a href="http://www.paypal.com/" title="Paypal" rel="nofollow" target="_blank">Paypal.com</a></strong> za wystawianie i promowanie ogłoszenia, automatyczne potwierdzanie płatności</p>
					{% endif %}
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="functions_inside animatable fadeInUp">
					{% if not settings.amp %}<img src="upload/images/loading.gif" class="lazyload" data-src="upload/scripts/notice2/f2.jpg" alt="Responsywność">{% endif %}
					{% if lang=='en' %}
						<h4>RWD</h4>
						<p><strong>Responsive template</strong> compatible with HTML5 - the page is displayed correctly on the mobile devices (such as mobile phones, tablets)</p>
					{% else %}
						<h4>Responsywność</h4>
						<p><strong>Responsywny szablon</strong> zgodny z HTML5 - strona jest poprawnie wyświetlana także na urządzeniach mobilnych (typu telefony komórkowe, tablety)</p>
					{% endif %}
				</div>
			</div>
			<div class="clearfix visible-sm-block"></div>
			<div class="col-md-4 col-sm-6">
				<div class="functions_inside animatable fadeInUp">
					{% if not settings.amp %}<img src="upload/images/loading.gif" class="lazyload" data-src="upload/scripts/notice2/f3.jpg" alt="Google Maps integration">{% endif %}
					{% if lang=='en' %}
						<h4>Google Maps</h4>
						<p>Integration with Google Map lets you select offers from the map, easy to find or <strong>search offers by the distance</strong></p>
					{% else %}
						<h4>Mapa Google</h4>
						<p>Integracja z Mapą Google umożliwia zaznaczanie ofert na mapie, łatwe ich znalezienie oraz <strong>wyszukiwanie ogłoszeń wg odległości</strong></p>
					{% endif %}
				</div>
			</div>
			<div class="clearfix visible-md-block visible-lg-block"></div>
			<div class="col-md-4 col-sm-6">
				<div class="functions_inside animatable fadeInUp">
					{% if not settings.amp %}<img src="upload/images/loading.gif" class="lazyload" data-src="upload/scripts/notice2/f4.jpg" alt="Media społecznościowe: Facebook">{% endif %}
					{% if lang=='en' %}
						<h4>Social Network</h4>
						<p>Integration with social network: Facebook (possibility to login by FB and Google), Tweet, Wykop.pl, Google Plus</p>
					{% else %}
						<h4>Portale społecznościowe</h4>
						<p>Integracja z <strong>portalami społecznościowymi</strong> (panel Facebook, logowanie przez Facebook-a oraz przez konto Google, przyciski &bdquo;Lubię to&rdquo;,  &bdquo;Udostępnij&rdquo;, &bdquo;Tweetnij&rdquo;, "Wykop" i &bdquo;+1&rdquo;)</p>
					{% endif %}
				</div>
			</div>
			<div class="clearfix visible-sm-block"></div>
			<div class="col-md-4 col-sm-6">
				<div class="functions_inside animatable fadeInUp">
					{% if not settings.amp %}<img src="upload/images/loading.gif" class="lazyload" data-src="upload/scripts/notice2/f5.jpg" alt="Reklamy w serwisie">{% endif %}
					{% if lang=='en' %}
						<h4>ADS</h4>
						<p>Many website sections to include ads (You can edit: 6 banners, slider on home page and footer)</p>
					{% else %}
						<h4>Reklamy</h4>
						<p>Dużo miejsca na <strong>reklamy</strong> (możliwość dodania do 6 banerów reklamowych, edycji slidera na stronie głównej oraz stopki serwisu)</p>
					{% endif %}
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="functions_inside animatable fadeInUp">
					{% if not settings.amp %}<img src="upload/images/loading.gif" class="lazyload" data-src="upload/scripts/notice2/f6.jpg" alt="Ikona kanału RSS">{% endif %}
					{% if lang=='en' %}
						<h4>RSS Channel</h4>
						<p><strong>RSS channel</strong> displays the most recently added announcements.</p>
					{% else %}
						<h4>Kanał RSS</h4>
						<p>Wbudowany <strong>kanał RSS</strong> (FEED) wyświetlający ostatnio dodane ogłoszenia.</p>
					{% endif %}
				</div>
			</div>
			<div class="clearfix visible-md-block visible-lg-block visible-sm-block"></div>
			<div class="col-md-4 col-sm-6">
				<div class="functions_inside animatable fadeInUp">
					{% if not settings.amp %}<img src="upload/images/loading.gif" class="lazyload" data-src="upload/scripts/notice2/f7.jpg" alt="Zgodne ze specyfikacją SEO">{% endif %}
					{% if lang=='en' %}
						<h4>SEO</h4>
						<p>You can set up separate keyword and SEO description for each page - very useful to positioning Your site</p>
					{% else %}
						<h4>SEO</h4>
						<p>Do każdej strony info w serwisie istnieje możliwość ustalenia osobnych słów kluczowych i opisów SEO - bardzo przydatne przy pozycjonowaniu witryny</p>
					{% endif %}
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="functions_inside animatable fadeInUp">
					{% if not settings.amp %}<img src="upload/images/loading.gif" class="lazyload" data-src="upload/scripts/notice2/f8.jpg" alt="Sejf obrazujący bezpieczny skrypt">{% endif %}
					{% if lang=='en' %}
						<h4>Security</h4>
						<p><strong>Secure login panel</strong>, protection against poisoning session, coding i hashing passwords in bcrypt, generating unique tokens to user actions</p>
					{% else %}
						<h4>Bezpieczeństwo</h4>
						<p><strong>Bezpieczny panel logowania</strong>, zabezpieczenie przed zatruciem sesji (Session Poisoning), kodowanie i hashowanie haseł w bcrypt, unikalne tokeny dla akcji użytkownika<p>
					{% endif %}
				</div>
			</div>
			<div class="clearfix visible-sm-block"></div>
			<div class="col-md-4 col-sm-6">
				<div class="functions_inside animatable fadeInUp">
					{% if not settings.amp %}<img src="upload/images/loading.gif" class="lazyload" data-src="upload/scripts/notice2/f9.jpg" alt="Modernizacja">{% endif %}
					{% if lang=='en' %}
						<h4>Adjustment</h4>
						<p>The possibility of <strong>adapt site</strong> to your needs by Admin Panel - so you can adjust the script fully for Your own needs!<p>
					{% else %}
						<h4>Dostosowanie</h4>
						<p>Możliwość <strong>dostosowania</strong> serwisu do własnych potrzeb, rozbudowane możliwości konfiguracji strony - dzięki czemu dostosujesz skrypt do swoich własnych potrzeb!<p>
					{% endif %}
				</div>
			</div>
			<div class="clearfix visible-md-block visible-lg-block"></div>
			<div class="col-md-4 col-sm-6">
				<div class="functions_inside animatable fadeInUp">
					{% if not settings.amp %}<img src="upload/images/loading.gif" class="lazyload" data-src="upload/scripts/notice2/f10.jpg" alt="Mikrodane - logo microdata">{% endif %}
					{% if lang=='en' %}
						<h4>Microdata</h4>
						<p>Microdata is a WHATWG HTML specification used to nest metadata within existing content on web pages. Search engines, web crawlers, and browsers can extract and process Microdata from a web page and use it to provide a richer browsing experience for users. This will help your website to be ranked higher</p>
					{% else %}
						<h4>Mikrodane</h4>
						<p><strong>Mikrodane</strong> w spisie ogłoszeń - mają duży wpływ na podwyższenie pozycji witryny w wyszukiwarce Google, zgodne ze standardami <a href="http://schema.org/" title="MicroDate" target="_blank" rel="nofollow">schema.org</a></p>
					{% endif %}
				</div>
			</div>
			<div class="clearfix visible-sm-block"></div>
			<div class="col-md-4 col-sm-6">
				<div class="functions_inside animatable fadeInUp">
					{% if not settings.amp %}<img src="upload/images/loading.gif" class="lazyload" data-src="upload/scripts/notice2/f11.jpg" alt="Wykres statystyk">{% endif %}
					{% if lang=='en' %}
						<h4>Statistics</h4>
						<p>View detailed <strong>statistics system</strong> in the Admin Panel with the generator charts. Now you can see detailed information on your users and improvements you can make</p>
					{% else %}
						<h4>Statystyki</h4>
						<p>Podgląd szczegółowych <strong>statystyk systemu</strong> w Panelu Administracyjnym wraz z generatorem wykresów - dzięki niemu dowiesz się czego jeszcze potrzeba Twojej stronie!  </p>
					{% endif %}
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="functions_inside animatable fadeInUp">
					{% if not settings.amp %}<img src="upload/images/loading.gif" class="lazyload" data-src="upload/scripts/notice2/f12.jpg" alt="Wysyłka maili przez SMTP">{% endif %}
					{% if lang=='en' %}
						<h4>SMTP and attachments</h4>
						<p>Ability to send an e mail through SMTP and with attachments from contact form. Ability to send mailings to all registered users</p>
					{% else %}
						<h4>SMTP i załączniki</h4>
						<p>Możliwość wysyłki wiadomości email poprzez konto SMTP oraz wysyłki załączników do wiadomości z formularza kontaktowego. Możliwość wysyłki mailingu do wszystkich zarejestrowanych użytkowników</p>
					{% endif %}
				</div>
			</div>	
		</div>
	</div>
</div>
<div class="container text-center padding_top padding_big_bottom">
	<h2>{% if lang=='en' %}APPLICATION REQUIREMENTS{% else %}WYMAGANIA APLIKACJI{% endif %}</h2>
	<div class="row padding_big_top">
		<div class="col-sm-4 padding_bottom">
			{% if not settings.amp %}<img src="upload/images/loading.gif" class="lazyload" data-src="upload/scripts/php7.png" alt="Logo PHP7">{% endif %} 
			<h4>PHP</h4>
			<p>{% if lang=='en' %}PHP version min 7.0{% else %}PHP w wersji min. 7.0{% endif %}<p>
		</div>
		<div class="col-sm-4 padding_bottom">
			{% if not settings.amp %}<img src="upload/images/loading.gif" class="lazyload" data-src="upload/scripts/mysql.png" alt="Logo baz danych MySQL">{% endif %}
			<h4>MySQL</h4>
			<p>{% if lang=='en' %}Support MySQL database{% else %}Obługa bazy danych MySQL{% endif %}<p>
		</div>
		<div class="col-sm-4 padding_bottom">
			{% if not settings.amp %}<img src="upload/images/loading.gif" class="lazyload" data-src="upload/scripts/seo.png" alt="Wskaźnik wykresu SEO">{% endif %}
			<h4>Mod Rewrite</h4>
			<p>{% if lang=='en' %}With mod_rewrite, you can use friendly URLs{% else %}Dzięki mod rewrite można używać przyjaznych adresów URL{% endif %}<p>
		</div>
	</div>
	{% if lang=='en' %}
		<p>This script is created with the very fast <strong>template engine Twig2</strong>.</p>
	{% else %}
		<p>Skrypt jest stworzony na bardzo szybkim i łatwym w modyfikacjach <strong>systemie szablonów Twig2</strong>.</p>
	{% endif %}
</div>
<div class="text-center color_grey padding_top background_dark padding_big_bottom">
	<h2>{% if lang=='en' %}Admin Panel{% else %}Panel Administratora{% endif %}</h2>
	{% if not settings.amp %}<img src="upload/images/loading.gif" class="lazyload" data-src="upload/scripts/admin.png" alt="Admin Panel created by Kamil Wyremski" id="img_cms">{% endif %}
	<p class="container_text"><strong>
		{% if lang=='en' %}
			To script is included very extensive Admin Panel that allows to manage settings page, view detailed statistics and edit added announcements
		{% else %}
			Do skryptu dołączony jest bardzo rozbudowany Panel Administracyjny, który umożliwia zarządzanie ustawieniami strony, podgląd szczegółowych statystyk oraz logów systemu
		{% endif %}
	</strong></p>
</div>
<div class="container text-center padding_top padding_big_bottom">
	<h2>{% if lang=='en' %}LANGUAGE CHANGE MODULE{% else %}MODUŁ ZMIANY JĘZYKA{% endif %}</h2>
	{% if not settings.amp %}<img src="upload/images/loading.gif" class="lazyload" data-src="upload/scripts/language.png" alt="Flagi państw świata" style="max-width:100%; margin: 20px auto 30px; display: block;">{% endif %}
	<div class="container">
		{% if lang=='en' %}
			<p>Script has a built <strong>language change module</strong>. It allows the display pages in the selected language. Immediately after installation you can choose one of the default languages: Polish and English.</p>
			<br>
			<p>In addition, the script allows you to add your own language. You can add an unlimited number of languages! Because of that, you can use our script with any language you can imagine, so you can use any foreign domain. This will allow you to hit more customers around the world!</p>
		{% else %}
			<p>Skrypt posiada wbudowany <strong>moduł zmiany języka</strong>. Umożliwia on wyświetlanie strony w wybranym języku. Od razu po instalacji możesz wybrać jeden z domyślnie wgranych języków: polski i angielski.</p>
			<br>
			<p>Oprócz tego skrypt umożliwia dodanie własnych języków. Możesz dodać ich nieograniczoną ilość! Dzięki temu możesz wykorzystać skrypt nie tylko na stronach polskojęzycznych, ale również tworząc stronę na zagranicznej domenie. Pozwoli Ci to trafić do większej liczby odbiorców na całym świecie!</p>
		{% endif %}
	</div>
</div>
{% if not settings.amp %}
	<div class="text-center padding_top padding_bottom background_grey" id="script_gallery">
		<h2>{% if lang=='en' %}GALLERY{% else %}GALERIA{% endif %}</h2>
		<br>
		<div class="container">
			<div class="col-lg-3 col-md-4 col-xs-6 thumb animatable fadeInUp">
				<a href="upload/scripts/notice2/screenshots/1.jpg" title="{% if lang=='en' %}The script NOTICE2{% else %}Skrypt ogłoszeniowy NOTICE2{% endif %}" class="thumbnail galeria" data-lightbox="gallery"><img src="upload/images/loading.gif" alt="{% if lang=='en' %}The script NOTICE2{% else %}Skrypt ogłoszeniowy NOTICE2{% endif %}" class="lazyload" data-src="upload/scripts/notice2/screenshots/1_thumb.jpg"></a>
			</div>
			<div class="col-lg-3 col-md-4 col-xs-6 thumb animatable fadeInUp">
				<a href="upload/scripts/notice2/screenshots/2.jpg" title="{% if lang=='en' %}The script NOTICE2{% else %}Skrypt ogłoszeniowy NOTICE2{% endif %}" class="thumbnail galeria" data-lightbox="gallery"><img src="upload/images/loading.gif" alt="{% if lang=='en' %}The script NOTICE2{% else %}Skrypt ogłoszeniowy NOTICE2{% endif %}" class="lazyload" data-src="upload/scripts/notice2/screenshots/2_thumb.jpg"></a>
			</div>
			<div class="col-lg-3 col-md-4 col-xs-6 thumb animatable fadeInUp">
				<a href="upload/scripts/notice2/screenshots/3.jpg" title="{% if lang=='en' %}The script NOTICE2{% else %}Skrypt ogłoszeniowy NOTICE2{% endif %}" class="thumbnail galeria" data-lightbox="gallery"><img src="upload/images/loading.gif" alt="{% if lang=='en' %}The script NOTICE2{% else %}Skrypt ogłoszeniowy NOTICE2{% endif %}" class="lazyload" data-src="upload/scripts/notice2/screenshots/3_thumb.jpg"></a>
			</div>
			<div class="col-lg-3 col-md-4 col-xs-6 thumb animatable fadeInUp">
				<a href="upload/scripts/notice2/screenshots/4.jpg" title="{% if lang=='en' %}The script NOTICE2{% else %}Skrypt ogłoszeniowy NOTICE2{% endif %}" class="thumbnail galeria" data-lightbox="gallery"><img src="upload/images/loading.gif" alt="{% if lang=='en' %}The script NOTICE2{% else %}Skrypt ogłoszeniowy NOTICE2{% endif %}" class="lazyload" data-src="upload/scripts/notice2/screenshots/4_thumb.jpg"></a>
			</div>
			<div class="col-lg-3 col-md-4 col-xs-6 thumb animatable fadeInUp">
				<a href="upload/scripts/notice2/screenshots/5.jpg" title="{% if lang=='en' %}The script NOTICE2{% else %}Skrypt ogłoszeniowy NOTICE2{% endif %}" class="thumbnail galeria" data-lightbox="gallery"><img src="upload/images/loading.gif" alt="{% if lang=='en' %}The script NOTICE2{% else %}Skrypt ogłoszeniowy NOTICE2{% endif %}" class="lazyload" data-src="upload/scripts/notice2/screenshots/5_thumb.jpg"></a>
			</div>
			<div class="col-lg-3 col-md-4 col-xs-6 thumb animatable fadeInUp">
				<a href="upload/scripts/notice2/screenshots/6.jpg" title="{% if lang=='en' %}The script NOTICE2{% else %}Skrypt ogłoszeniowy NOTICE2{% endif %}" class="thumbnail galeria" data-lightbox="gallery"><img src="upload/images/loading.gif" alt="{% if lang=='en' %}The script NOTICE2{% else %}Skrypt ogłoszeniowy NOTICE2{% endif %}" class="lazyload" data-src="upload/scripts/notice2/screenshots/6_thumb.jpg"></a>
			</div>
			<div class="col-lg-3 col-md-4 col-xs-6 thumb animatable fadeInUp">
				<a href="upload/scripts/notice2/screenshots/7.jpg" title="{% if lang=='en' %}The script NOTICE2{% else %}Skrypt ogłoszeniowy NOTICE2{% endif %}" class="thumbnail galeria" data-lightbox="gallery"><img src="upload/images/loading.gif" alt="{% if lang=='en' %}The script NOTICE2{% else %}Skrypt ogłoszeniowy NOTICE2{% endif %}" class="lazyload" data-src="upload/scripts/notice2/screenshots/7_thumb.jpg"></a>
			</div>
			<div class="col-lg-3 col-md-4 col-xs-6 thumb animatable fadeInUp">
				<a href="upload/scripts/notice2/screenshots/8.jpg" title="{% if lang=='en' %}The script NOTICE2{% else %}Skrypt ogłoszeniowy NOTICE2{% endif %}" class="thumbnail galeria" data-lightbox="gallery"><img src="upload/images/loading.gif" alt="{% if lang=='en' %}The script NOTICE2{% else %}Skrypt ogłoszeniowy NOTICE2{% endif %}" class="lazyload" data-src="upload/scripts/notice2/screenshots/8_thumb.jpg"></a>
			</div>
			<div class="col-lg-3 col-md-4 col-xs-6 thumb animatable fadeInUp">
				<a href="upload/scripts/notice2/screenshots/9.jpg" title="{% if lang=='en' %}The script NOTICE2{% else %}Skrypt ogłoszeniowy NOTICE2{% endif %}" class="thumbnail galeria" data-lightbox="gallery"><img src="upload/images/loading.gif" alt="{% if lang=='en' %}The script NOTICE2{% else %}Skrypt ogłoszeniowy NOTICE2{% endif %}" class="lazyload" data-src="upload/scripts/notice2/screenshots/9_thumb.jpg"></a>
			</div>
			<div class="col-lg-3 col-md-4 col-xs-6 thumb animatable fadeInUp">
				<a href="upload/scripts/notice2/screenshots/10.jpg" title="{% if lang=='en' %}The script NOTICE2{% else %}Skrypt ogłoszeniowy NOTICE2{% endif %}" class="thumbnail galeria" data-lightbox="gallery"><img src="upload/images/loading.gif" alt="{% if lang=='en' %}The script NOTICE2{% else %}Skrypt ogłoszeniowy NOTICE2{% endif %}" class="lazyload" data-src="upload/scripts/notice2/screenshots/10_thumb.jpg"></a>
			</div>
			<div class="col-lg-3 col-md-4 col-xs-6 thumb animatable fadeInUp">
				<a href="upload/scripts/notice2/screenshots/11.jpg" title="{% if lang=='en' %}The script NOTICE2{% else %}Skrypt ogłoszeniowy NOTICE2{% endif %}" class="thumbnail galeria" data-lightbox="gallery"><img src="upload/images/loading.gif" alt="{% if lang=='en' %}The script NOTICE2{% else %}Skrypt ogłoszeniowy NOTICE2{% endif %}" class="lazyload" data-src="upload/scripts/notice2/screenshots/11_thumb.jpg"></a>	
			</div>
			<div class="col-lg-3 col-md-4 col-xs-6 thumb animatable fadeInUp">
				<a href="upload/scripts/notice2/screenshots/12.jpg" title="{% if lang=='en' %}The script NOTICE2{% else %}Skrypt ogłoszeniowy NOTICE2{% endif %}" class="thumbnail galeria" data-lightbox="gallery"><img src="upload/images/loading.gif" alt="{% if lang=='en' %}The script NOTICE2{% else %}Skrypt ogłoszeniowy NOTICE2{% endif %}" class="lazyload" data-src="upload/scripts/notice2/screenshots/12_thumb.jpg"></a>
			</div>
		</div>
	</div>
{% endif %}
<div class="text-center container padding_top padding_big_bottom">
	{% if lang=='en' %}
		<h2>DEMO VERSION OF SCRIPT</h2>
		<br>
		<p>DEMO version: <strong><a href="http://notice2.wyremski.pl" target="_blank" title="NOTICE2">notice2.wyremski.pl</a></strong></p>
		<p>DEMO version of Admin Panel: <strong><a href="http://notice2.wyremski.pl/admin" target="_blank" title="Test version of Notice2">notice2.scripts.pl/admin</a></strong><br>login: test password: 1234</p>
		<br>
		<p>You can see websites created by this script: <strong><a title="W40" href="http://w40.pl" target="_blank" rel="nofollow noopener">w40.pl</a>, <a title="otosell" href="http://otosell.pl" target="_blank" rel="nofollow noopener">otosell.pl</a>, <a title="Zaradny Polak" href="http://zaradnypolak.eu" target="_blank" rel="nofollow noopener">zaradnypolak.eu</a>, <a title="Giełda Mam" href="http://gieldamam.pl" target="_blank" rel="nofollow noopener">gieldamam.pl</a>, <a title="Lulanie" href="http://lulanie.pl" target="_blank" rel="nofollow noopener">lulanie.pl</a></p></strong></p>
	{% else %}
		<h2>WERSJA POKAZOWA SKRYPTU</h2>
		<br>
		<h4>DEMO skryptu: <strong><a href="http://notice2.wyremski.pl" target="_blank" title="NOTICE2">notice2.wyremski.pl</a></strong></h4>
		<p>DEMO Panelu Administracyjnego: <strong><a href="http://notice2.wyremski.pl/admin" target="_blank" title="Pokazowa strona z ogłoszeniami">notice2.wyremski.pl/admin</a></strong><br>login: test hasło: 1234</p>
		<br>
		<p>Przykładowe strony stworzone na tym skrypcie: <strong><a title="W40" href="http://w40.pl" target="_blank" rel="nofollow noopener">w40.pl</a>, <a title="otosell" href="http://otosell.pl" target="_blank" rel="nofollow noopener">otosell.pl</a>, <a title="Zaradny Polak" href="http://zaradnypolak.eu" target="_blank" rel="nofollow noopener">zaradnypolak.eu</a>, <a title="Giełda Mam" href="http://gieldamam.pl" target="_blank" rel="nofollow noopener">gieldamam.pl</a>, <a title="Lulanie" href="http://lulanie.pl" target="_blank" rel="nofollow noopener">lulanie.pl</a></strong></p>
		<br>
		<p>Zobacz także <a href="http://blog.wyremski.pl/instrukcja-instalacji-i-konfiguracji-skryptow/" title="Instrukcja instalacji i konfiguracji skryptów" target="_blank">instrukcję instalacji i konfiguracji skryptów</a></p>
	{% endif %}
</div>
{% if not settings.amp %}
	<div class="text-center script_info_green">
		{% if lang=='en' %}
			<h3>The script have a lot of tools that are not available in other similar scripts!</h3>
		{% else %}
			<h3>Notice2 jest wyposażony w wiele narzędzi, które nie są dostępne w innych tego typu skryptach!</h3>
		{% endif %}
	</div>
{% endif %}
<div class="text-center container padding_top padding_big_bottom container_text_big">
	{% if lang=='en' %}
		<h4>You will not find better script with announcements!<br>We Guarantee!</h4>
		<br>
		<h4>If you are interested, you can buy this script:</h4>
		<h3><a href="https://skrypty.sattel.pl/strona-glowna/9-skrypt-ogloszeniowy-notice2.html" title="Script Notice2" target="_blank" rel="nofollow">https://skrypty.sattel.pl/strona-glowna/9-skrypt-ogloszeniowy-notice2.html</a></h3>
	{% else %}
		<h4>Znalazłeś lepszy skrypt ogłoszeniowy?<br>...na pewno nie! Po prostu takiego nie ma...</h4>
		<br>
		<h4>Zainteresowanych zapraszam do zakupu:</h4>
		<h3><a href="https://skrypty.sattel.pl/strona-glowna/9-skrypt-ogloszeniowy-notice2.html" title="Skrypt ogłoszeniowy Notice2" target="_blank" rel="nofollow">skrypty.sattel.pl/strona-glowna/9-skrypt-ogloszeniowy-notice2.html</a></h3>
	{% endif %}
</div>
